body{
  background-color: white;
}

div{
  margin-bottom: 15px;
}

.Titulo1{
  background-color: white;
  height: 40px;
  width: 1200;
  font-size: 28px;
  margin: auto;
  font-family: Roboto-bold;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

#content1 {
  background-color: white;
  width: 1200px;
  display: flex;
  align-items: flex-end;
  margin: auto; 
  flex-direction: row;
  justify-content: center;
}

.EUA{
  width: 80px;
  height: 300px;
  margin-right: 8px;
  font-family: Helvetica-bold;
  font-size: 15px;
  color: #F7F7F7;
  padding: 8px;
}

.China{
  width: 80px;
  height: 167px;
  margin-right: 8px;
  font-family: Helvetica-bold;
  font-size: 15px;
  color: #F7F7F7;
  padding: 8px;
}

.Japao{
  width: 80px;
  height: 34px;
  margin-right: 8px;
  font-family: Helvetica-bold;
  font-size: 15px;
  color: #F7F7F7;
  padding: 8px;
}

.Alemanha{
  width: 80px;
  height: 34px;
  margin-right: 8px;
  font-family: Helvetica-bold;
  font-size: 15px;
  color: #F7F7F7;
  padding: 8px;
}

.ReinoUnido{
  width: 80px;
  height: 34px;
  margin-right: 8px;
  font-family: Helvetica-bold;
  color: #212121;
  padding: 8px;
}

.legenda{
  display: flex;
  margin-right: 20px;
  font-family: Roboto-medium;
  font-size: 14px;
}

.Fonte{
  background-color: white;
  width: 1200px;
  height: 40px;
  font-size: 12px;
  margin: auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 20px 0px 0px 0px;
  text-align: center;
}